.m-widt-400{
    max-width: 400px;
}

.m-widt-600{
    max-width: 600px;
}
.m-height{
    min-height: 400px;
}
.bg-white{
    background-color: white;
}
.font-pridi{
    font-family: 'Martel Sans', sans-serif;
    text-shadow: 1px 3px rgba(137, 149, 160, 0.333)
}
.br-5{
    border-radius: 5px;
    border: 3px solid rgba(187, 201, 214, 0.333);
}