.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.mt-4{
    margin-top: 4rem;
}
.flex-row{
    display: flex;
    flex-flow: row;
}
.flex-col{
    display: flex;
    flex-flow: column;
}
.text-shadow{
    text-shadow: 0.5px 3px rgb(188, 210, 238);
}